Source: gwm
Section: admin
Priority: extra
Maintainer: Nikolay Bogdanov <nikolay.bogdanov@flant.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Homepage: http://flant.ru

Package: gwm
Architecture: all
Depends: ${misc:Depends}, python-yaml, python-minimal
Description: change uplink
 monitor uplink and change gateway
