Source: netgwm
Section: admin
Priority: extra
Maintainer: Nikolay Bogdanov <nikolay.bogdanov@flant.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Homepage: https://flant.ru

Package: netgwm
Architecture: all
Depends: ${misc:Depends}, python-yaml, python-minimal, conntrack
Description: change uplink
 monitor uplink and change gateway
